Repository MichaelDeBoey/gatsby-remark-embedder, pull requests merged in 2019-10, with the labels that each got.

#27 test: Add plugin test
  .travis.yml
  package.json
  src/__tests__/__fixtures__/CodePen.md
  src/__tests__/__fixtures__/CodeSandbox.md
  src/__tests__/__fixtures__/SoundCloud.md
  src/__tests__/__fixtures__/Twitter.md
  src/__tests__/__fixtures__/YouTube.md
  src/__tests__/__fixtures__/kitchensink.md
  src/__tests__/__snapshots__/plugin.js.snap
  src/__tests__/plugin.js
Labels: 🧪 Tests

#28 Updated iframe embed html for accessibility and security reasons
  src/CodeSandbox.js
  src/__tests__/CodeSandbox.js
  src/__tests__/__snapshots__/plugin.js.snap
Labels: ⚙️ CodeSandbox

#30 Added support for slides.com
  src/Slides.js
  src/__tests__/Slides.js
  src/__tests__/__fixtures__/Slides.md
  src/__tests__/__fixtures__/kitchensink.md
  src/__tests__/__snapshots__/plugin.js.snap
  src/__tests__/plugin.js
  src/index.js
Labels: ⚙️ Slides

#37 fix(Slides): Fix Slides team Decks
  src/Slides.js
  src/__tests__/Slides.js
Labels: ⚙️ Slides, 🐛 Bug
