Repository MichaelDeBoey/gatsby-remark-embedder, pull requests merged in 2020-03, with the labels that each got.

#72 feat(Twitter): Add support for Twitter moments
  README.md
  src/__tests__/transformers/Twitter.js
  src/__tests__/transformers/__fixtures__/Twitter.md
  src/transformers/Twitter.js
Labels: ⚙️ Twitter

#73 feat(Pinterest): Add support for Pinterest
  README.md
  src/__tests__/__fixtures__/kitchensink.md
  src/__tests__/plugin.js
  src/__tests__/transformers/Pinterest.js
  src/__tests__/transformers/__fixtures__/Pinterest.md
  src/transformers/Pinterest.js
  src/transformers/index.js
Labels: ⚙︎ Pinterest

#102 feat(plugin): Log the URL that caused a failure
  src/__tests__/__fixtures__/ErrorTransformer.md
  src/__tests__/plugin.js
  src/index.js
Labels: enhancement

#71 feat(Twitch): Add support for Twitch
  README.md
  src/__tests__/__fixtures__/kitchensink.md
  src/__tests__/plugin.js
  src/__tests__/transformers/Twitch.js
  src/__tests__/transformers/__fixtures__/Twitch.md
  src/transformers/Twitch.js
  src/transformers/index.js
Labels: ⚙︎ Twitch
