Repository MichaelDeBoey/gatsby-remark-embedder, pull requests merged in 2020-01, with the labels that each got.

#60 Added Lichess support + tests + docs
  README.md
  src/__tests__/__fixtures__/kitchensink.md
  src/__tests__/plugin.js
  src/__tests__/transformers/Lichess.js
  src/__tests__/transformers/__fixtures__/Lichess.md
  src/transformers/Lichess.js
  src/transformers/index.js
Labels: ⚙︎ Lichess

#56 Instagram
  README.md
  src/__tests__/__fixtures__/kitchensink.md
  src/__tests__/plugin.js
  src/__tests__/transformers/Instagram.js
  src/__tests__/transformers/__fixtures__/Instagram.md
  src/transformers/Instagram.js
  src/transformers/index.js
Labels: ⚙️ Instagram

#55 Support Giphy embeds
  README.md
  src/__tests__/__fixtures__/kitchensink.md
  src/__tests__/plugin.js
  src/__tests__/transformers/GIPHY.js
  src/__tests__/transformers/__fixtures__/GIPHY.md
  src/transformers/GIPHY.js
  src/transformers/index.js
Labels: ⚙︎ GIPHY
